<app-header [bgColor]="'bg-secondary'">
    <h1>
        <i class="fas fa-edit"></i> Edit post one
    </h1>
</app-header>
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/dashboard" class="btn btn-light btn-block">
                <i class="fas fa-arrow-left"></i> Back To Dashboard
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/dashboard" class="btn btn-success btn-block">
                <i class="fas fa-check"></i> Save Changes
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/dashboard" class="btn btn-danger btn-block">
                <i class="fas fa-trash"></i> Delete Post
            </a>
        </div>
    </div>
</section>
<section id="postEdit">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Edit Post</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" value="Post One">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control">
                            <option value="" selected="">Web Development</option>
                            <option value="">Tech Gadgets</option>
                            <option value="">Business</option>
                            <option value="">Health &amp; Wellness</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image">
                            <label for="image" class="custom-file-label">Choose File</label>
                        </div>
                        <small class="form-text text-muted">Max Size 3mb</small>
                    </div>
                    <div class="form-group">
                        <label for="#body">Post body</label>
                        <textarea name="body" id="body" rows="10" class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>